
header{
  width: 1280px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  nav{
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 607px;
      height: 60px;
      text-decoration: none;
      list-style-type: none;
      a{
        color: #FFFFFF;
        font-family: Work Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
      }
      button{
        color: #FFFFFF;
        font-family: Work Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        width: 152px;
        height: 60px;
        background-color: #A259FF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        border: #A259FF;
        img{
          background-color: #A259FF;
        }
      }
    }
    div{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 244px;
      height: 32px;
      p{
        color: #FFFFFF;
        font-size: 19px;
        font-weight: 700;
        
      }
    }
  }
  
  background-color:#2B2B2B;

}
