.main{
  margin: 0 auto;
  width: 1280px;
  height: 642px;
  color: white;
  background-color: rgba(43, 43, 43, 1);
}
section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
}
.rightD{
  width: 610px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  h2{
    font-family: Work Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 51px;
    line-height: 110%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
  }
  p{
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0%;
    text-transform: capitalize;
    width: 460px;
  }

}
.inD{
  width: 320px;
  height: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
div{
  background-color: #3B3B3B;
  border: solid 1px #A259FF;
  width: 330px;
  height: 72px;
  border-radius: 10px ;
  display: flex;
  align-items: center;
  img{
    margin-left:25px ;
  }
  h5{
    font-family: Work Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left:25px ;
  }

}
button{
   width: 330px;
  height: 46px;
  border-radius:20px ;
  background-color: #A259FF;
  border: none;
  color: #FFFFFF;
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
}
