main{
  margin: 0 auto;
  width: 1280px;
}
.cart{
width: 510px;
height: 540px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-between;
background-color: #3B3B3B;
border-radius: 20px;
div{
  display: flex;
  width: 110px;
  height: 31px;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  padding-bottom: 20px;
  p{
    font-weight: 300;
    font-style: Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    
  }
}
}
.T{
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 20px;
}
.digit{
  background-color: #2B2B2B;
  display: flex;
  width: 1280px;
  height: 704px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.poddigit{
  background-color: #2B2B2B;
  display: flex;
  width: 1050px;
  height: 544px;
  align-items: center;
  justify-content: space-between;
}
.dis{
  width: 510px;
  height: 544px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  p{
    font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #FFFFFF;
  height: 85px;
  }
  h1{
    margin-top: 0px;
    height: 150px;
    font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 67px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #FFFFFF;
  }
  button{
        color: #FFFFFF;
        font-family: Work Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        width: 224px;
        height: 60px;
        background-color: #A259FF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        border: #A259FF;
        img{
          background-color: #A259FF;
        }
  }
  .ul{
    width: 510px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      font-weight: 700;
      font-style: Bold;
      font-size: 28px;
      color: #FFFFFF;
      width: 150px;
      height: 3px;
    }
    div{
      width: 150px;
      height: 77px;
    }
  }
}
.trend{
  width: 1280px;
  height: 836px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B2B2B;
}
.podtrend{
  width: 1050px;
  height: 800px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.tr{
  width: 1046px;
  height: 91px;
  color: #FFFFFF;
  h1{
    font-family: Work Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  p{
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}