.cart{
width: 510px;
height: 510px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-between;
background-color: #3B3B3B;
border-radius: 20px;
div{
  display: flex;
  width: 110px;
  height: 31px;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  p{
    font-weight: 300;
    font-style: Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    
  }
}
}
.T{
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 20px;
}
main{
  background-color: #2B2B2B;
  display: flex;
  width: 1280px;
  height: 704px;
  align-items: center;
  justify-content: center;
}
section{
  background-color: #2B2B2B;
  display: flex;
  width: 1050px;
  height: 544px;
  align-items: center;
  justify-content: space-between;

}