.main {
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  color: white;
  background-color: rgba(43, 43, 43, 1);
  display: flex;
  justify-content: center;
}

.imgleft {
  width: 35%;
  height: 100%;
}

.secS {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: start;
}

.rightD {
  width: 30%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  h2 {
    font-family: Work Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 51px;
    line-height: 110%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
  }

  p {
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0%;
    text-transform: capitalize;
    width: 460px;
  }

}

.inD {
  width: 75%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  div {
    background-color: #FFFFFF;
    width: 100%;
    height: 12%;
    border-radius: 20px;
    display: flex;
    align-items: center;

    img {
      margin-left: 15px;

    }

    input {
      margin-left: 15px;
      border: none;
      width: 60%;
      height: 22px;
      font-family: Work Sans;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      leading-trim: NONE;
      letter-spacing: 0%;
      outline: none;
      color: #2B2B2B;
    }

  }

  button {
    width: 100%;
    height: 45%;
    border-radius: 20px;
    background-color: #A259FF;
    border: none;
    color: #FFFFFF;
    font-family: Work Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.s {
  width: 100%;
  height: 23%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #2B2B2B;
  flex-direction: column;

  a {
    color: whitesmoke;
    text-decoration: none;
  }
}